{% extends 'base.html.twig' %}

{% block title %}Liste des auteurs{% endblock %}

{% block body %}
  <div class="row mt-4">
     {% for author in authors %}
      <div class="col-md-4 text-center">
      <div class="card" style="width: 18rem;">
          <img src="{{ author.photo }}" class="card-img-top circle-rounded" alt="...">
      <div class="card-body">
    <h5 class="card-title">{{author.name}}</h5>
          
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
       <a href="{{path('app_admin_author_show', {'id': author.id })}}" class="btn btn-outline">En savoir plus sur {{author.name }}</a>
  </div>
  </div>
    </div>    
     {% endfor %}
            </div>
{% endblock %}


