{% extends 'base.html.twig' %}

{% block title %}Liste des auteurs{% endblock %}

{% block body %}
  <div class="row mt-4">
     {% for editor in editors %}
      <div class="col-md-4 text-center">
      <div class="card" style="width: 18rem;">
      <div class="card-body">
    <h5 class="card-title">{{editor.name}}</h5>
       <a href="{{path('app_admin_editor_show', {'id': editor.id })}}" class="btn btn-outline">En savoir plus...</a>
  </div>
  </div>
    </div>    
     {% endfor %}
            </div>
{% endblock %}


