    {% extends 'base.html.twig' %}

{% block title %}Détails sur un éditeur {% endblock %}

{% block body %}

    <h1 class="text-white">Editeur : </h1>
    {% if editor is not null %}
        <div class="card mb-1 m-auto">
            <div class="card-body">
                <div class="card-title d-flex justify-content-between">
                    <h4 class="mb-1">{{ editor.name }}</h4>
                    <small>Identifiant : {{ editor.id }}</small>
                    <span>
                       <a href="{{ path('app_admin_editor_edit', {id: editor.id})}}" class = "btn btn-primary">Mettre à jour l'éditeur</a>
                       <a href="{{ path('app_admin_editor_index')}}" class = "btn btn-primary">Retour à la liste des éditeurs</a>
                    </span>
                </div>
            </div>
        </div>
    {% else %}
        <div>Editeur non trouvé</div>
    {% endif %}
</div>
{% endblock %}