{% extends 'base.html.twig' %}

{% block title %} Ajout d'un nouveau livre {% endblock %}

{% block body %}

{{ form_start(form) }}
    <div class="card text-light my-4 bg-dark">
        <div class="card-header text-center">
            Ajouter un nouveau livre
        </div>
        <div class="card-body">
             {{ form_widget(form) }}
            <button class="btn btn-primary">Envoyer</button>
        </div>
    </div>
{{ form_end(form) }}
{% endblock %}
